body > #root > div {
    height: auto;
    background-color: #0c1d2a;
}

#sidebar-bg{
    background-color: #102636;
}

.card-bg{
    background-color: #0d2a3b;
}

.item-bg{
    background-color: #0a2531;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}